h1{text-decoration-color:#0000ff;} 
p{color:#ff0000;}
button{background-color:#4CAF50;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
button:hover{
    background-color:#45a049;
}
body{
    background-color:rgb(43, 43, 32);
}
thead{background-color: #0000ff;}
#hero{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: left;
}